node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json


# My local notes
notes.md
.memelord/
.codemogger

# .env files
.env
.env.local
.env.production
